.bg__dark {
  background-color: rgb(56, 56, 56);
}

.active {
  text-decoration: underline;
}

.text__white {
  color: white;
}

.text__bold {
  font-weight: 700;
}

.custom__image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom__buttons button,
.custom__buttons span {
  background-color: rgb(56, 56, 56);
  border-color: white;
  color: white;
  text-align: center;
  line-height: 100%;
}

.shopping__card {
  position: fixed;
  right: 10px;
  top: 0px;
}
