body {
    padding: 70px;
}

hr {
    margin: 30px 0;
}

.button {
    margin-top: 30px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    transition: .5s;
    outline: 1px solid aliceblue;
}
.button:hover {
    background-color: aliceblue;
    color: cornflowerblue;
    outline: 1px solid cornflowerblue;
}

.button__show {
    margin-left: 20px;
    background-color: aliceblue;
    color: cornflowerblue;
    outline: 1px solid cornflowerblue;
    transition: .5s;
}
.button__show:hover {
    color: aliceblue;
    background-color: cornflowerblue;
}

.todo__title {
    margin: 30px 0;
}
.todo__container {
    background-color: darkslategray;
    padding: 20px;
}
.todo {
    color: aliceblue;
    list-style: none;
    margin: 10px 0;
}