.bg__dark {
  background-color: rgb(56, 56, 56);
}

.active {
  text-decoration: underline;
}

.text__white {
  color: white;
}

.text__bold {
  font-weight: 700;
}

.custom__image {
  transition: 0.3s ease-in;
}
.custom__image:hover {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom__buttons button,
.custom__buttons span {
  background-color: rgb(56, 56, 56);
  border-color: white;
  color: white;
}
