body {
    padding: 50px;
}

.input__container {
    margin-top: 30px;
    width: 100%;
    padding: 10px 20px;
    display: block;
    outline: 1px solid skyblue;
}
.input__container:focus {
    outline: 3px solid teal;
}

.button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: cadetblue;
    border: none;
    border-radius: 15px;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
}
.button:hover {
    background-color: rgba(100, 200, 255, 255);
}