.container__all {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: darkcyan;

  .container {
    width: 90%;
    height: 100%;

    .list__container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .list__item {
        margin: 0 20px;
        list-style: none;
        
        .nav__link {
          text-decoration: none;
          font-size: 1.5rem;
          color: #CCC;
          transition: .2s;
          font-weight: 300;
        }
        .nav__link:hover {
          color: #FFF;
        }

        .nav__link_home {
          font-size: 2.2rem;
          color: #FFF;
          font-weight: 500;
        }

        .auth__name {
          font-size: 1.5rem;
          color: cyan;
          font-weight: 300;
          transition: .2s;
        }

        .nav__link_login {
          background-color: #0000;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .list__item:nth-last-child(2) {
        margin-left: auto;
      }
    }
  }
}

