body {
    padding: 70px;
}

hr {
    margin: 20px 0;
}

.todo__container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.list__item-container {
    display: flex;
    align-items: center;
    margin: 10px;
}
.list__item {
    width: 100%;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: 60% 40%;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
.list__item-text {
    cursor: pointer;
}
.list__delete-item {
    justify-self: flex-end;
    width: 30%;
    height: 30px;
    background-color: red;
    border: none;
    color: #F2F2F2;
    outline: none;
    transition: all .2s;
    border-radius: 5px;
    cursor: pointer;
}
.list__delete-item:hover {
    font-weight: 700;
    border-radius: 10px;
}

.add__todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.add__todo-title {
    text-align: center;
}
.add__todo-form {
    display: flex;
    flex-direction: column;
}
.add__todo-input {
    height: 50px;
    padding: 10px;
    outline: 1px solid #333;
    border: none;
    transition: all .4s;
    border-radius: 5px;
}
.add__todo-input:focus {
    border-radius: 15px;
}
.add__todo-btn {
    margin: 10px 0;
    height: 40px;
    border: none;
    outline: none;
    background-color: green;
    color: #F2F2F2;
    border-radius: 5px;
    transition: all .4s;
}
.add__todo-btn:hover {
    border-radius: 15px;
    font-weight: 700;
}

.complete {
    text-decoration: line-through;
}